* {
    box-sizing: border-box;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.header { 
    background-color: #004175;
    color: #ffffff;
    margin: 0px;
    padding: 3px;
    border-bottom: 3px solid #89DEEF;
}

.header-text {
    margin: 20px;
}

.main-style {
    margin-left: 20px;
}

.body-heading {
    margin: 20px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.dog-card {
    margin: 20px;
    width: min-content;
    border: 5px solid orange;
}

.dog-images {
    width: 200px;
}

.dog-name {
    margin: 3px;
}

.dog-details {
    
}

.container-list {
    display: flex;
    flex-wrap: wrap;
}

.dog-traits {
    padding: 5px 10px;
    background-color: #89DEEF;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    margin: 10px 2px;
    font-size: 10px;
    color: black;
    border-color: white;
}

.adoption-link {
    margin: 10px 0;
}

.footer {
    padding: 20px;
}