.header { 
    background-color: #004175;
    color: #ffffff;
    margin: -8px;
    padding: 20px;
    border-width: 20px;
    border-bottom: 3px solid #89DEEF;
}

.dog-images {
    width: 25%;
}

li {
    list-style-type: none;
}

.traits {
    padding: 20px;
}

.footer {
    padding: 20px;
}